doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/plugins/socketio/socket.io.js')
        script(src='/plugins/jquery/jquery.min.js')
    body
        block content
    block scripts